body {
    /* background-color: #262626 !important; */
    /* background-image: ./images/pexels-photo-543210.jpeg; */
    background-image: url(.././images/animal1.jpg) !important;
    background-repeat: no-repeat;
    background-size: 1600px;
}

#form-row {
margin-top: 150px;
}

form {
    padding: 100px 20px;
    max-width: 500px;
    margin: auto;
    /* background-color: #0B877D; */
    background-color:rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

form h4 {
    color:white;
    font-size: 40px;
    font-weight: 700;
    line-height: 0;
    padding-bottom: 20px;
}

form p {
    color:white;
    font-size: 20px;
    padding-bottom: 35px;
}

.form-control {
    height: 50px;
}

label {
    color: rgba(255, 255, 255, 0.75);
}

#login-btn {
    background-color: #101c2e !important;
}

#login-btn:hover {
    background-color: #1e3455 !important;
}

.d-block {
    font-size: 20px;
    color:#cadfff;
}

.d-block:hover {
    color:#ffffff;
    text-decoration: none;
}

#d-block-first {
    margin-right: 20px;
}