
/*-------------------------------------- basic styling --------------------------------------*/
body {
    background-color: rgba(248, 239, 230, 0.4);
    font-size: 16px;
}

#adminNav {
    background-color: #000000;
    border-radius: 0;
    height: 100vh;
    position: fixed;
    margin-top: -15px;
    padding-top:20px;
}

#adminContainer {
    background-color: #ffffff;
}

#backendNav {
    background-color: #05090f;
}

#frontendNav {
    margin-top:45px;
    background-color: #17253b;
}

#backendContainer {
    padding-top: 65px;
}

#frontendContainer {
    padding-top: 100px;
}
article {
    border-bottom: 5px solid rgba(248, 239, 230, 0.4);
    padding-bottom: 20px;
}

footer {
    padding: 20px 0 20px 0;
    background-color: #05090f;
}

.row {
    background-color: white;
}


/* styling til at give luft mellem afsnit */
.space-between {
    padding-bottom: 40px;
}

.split {
    margin-bottom: 20px;
}

.sammeHojde {
    padding-bottom: 20px;
}

/*----------------------------------------- typografi ------------------------------------------*/
/* der anvendes em, for at kunne bruge zoom/forstørrelse ved behov, tekststørrelsen sættes op og linje afstanden forøges (accesability) */
p {
    font-size: 1em;
    line-height: 1.6;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.4;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.4;
}

h3 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.4;
}

h4 {
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4;
}

.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.2em;
}

address strong, address p {
    color: white;
}
/*-------------------------------------- billeder og media --------------------------------------*/

.top-img {
    padding-top: 30px;
}
/*----------------------------------------- link og knapper ------------------------------------------*/
.btn {
    font-weight: 600;
    color: white;
    background-color: #101c2e;
}

.btn:hover {
    color: white;
    background-color: #1e3455;
    
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.877);
}

#backendNav a {
    color: #ffffff;
    line-height: 1;
}
#backendNav a:hover {
    font-weight: 600;
    background-color: #000000;
}

#adminNav a {
    color: #ffffff;
    line-height: 1;
}
#adminNav a:hover, .dropdown-menu {
    background-color: #000000;
}
 
a{
    font-weight: 600;
    color: #BF3604;
}

a:hover {
    font-weight: 600;
    color: #EB4C12;
    text-decoration: none;
}

address a{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.63);
}

address a:hover {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

li {
    list-style: none;
}

.itemActive {
    border-bottom: 2px solid #345381;
    margin-top: -5px;
}